@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "NanumSquareNeo", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.before\:w-12::before {
  content: var(--tw-content);
  width: 2rem !important;
}

.before\:h-12::before {
  content: var(--tw-content);
  height: 2rem !important;
}
